<form class="form" action='/' method= 'post'>
<input type='text' name='name' placeholder='what is your name?' value=''>
<textarea type='text' name='homeWorld' placeholder='What is your home world?' value=''></textarea>
<input type='checkbox' id='jedi' name='jedi' value='jedi'>
<label for='jedi' style="color: black;">jedi</label>
<input type='checkbox' id='sith' name='sith' value='sith'>
<label for='sith'style="color: black;">sith</label>
<input type='checkbox' id='neutral' name='neutral' value='neutral'>
<label for='neutral'style="color: black;">neutral</label>
<input type='submit' value='Submit'>
</form>
</div>